.tabla > .row {
  display: flex;
  height: 100vh;
  align-items: center;
}
.dataTables_wrapper {
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 22px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -ms-border-radius: 22px;
  -o-border-radius: 22px;
}
table.dataTable thead th,
table.dataTable thead td,
table.dataTable tfoot th,
table.dataTable tfoot td {
  text-align: center;
}
table.dataTable td,
table.dataTable th {
  text-align: center;
}
table .btn {
  border-radius: 50px;
  min-width: 50px;
}
table.dataTable td,
table.dataTable th {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  align-items: center;
  vertical-align: middle;
}
div.dataTables_wrapper div.dataTables_length select {
  border-radius: 50px;
}
/* Tabla Bootstrap */
.table > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
  vertical-align: middle;
  text-align: center;
}
/* Fin Tabla Bootstrap */

.form-control-sm {
  border-radius: 50px;
}
.disabled {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  --pointer: none;
  pointer-events: var(--pointer);
}

/* PAGINACION */
.page-item:first-child .page-link {
  border-radius: 50px 0px 0px 50px;
}
.page-item:last-child .page-link {
  border-radius: 0px 50px 50px 0px;
}
/* FIN PAGINACION */

.list {
  font-family: sans-serif;
}
td {
  padding: 10px;
  border: solid 1px #eee;
}

input {
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 7px 14px;
  margin-bottom: 10px;
}
input:focus {
  outline: none;
  border-color: #aaa;
}
.sort {
  padding: 8px 30px;
  border-radius: 6px;
  border: none;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background-color: #28a8e0;
  height: 30px;
}
.sort:hover {
  text-decoration: none;
  background-color: #1b8aba;
}
.sort:focus {
  outline: none;
}
.sort:after {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content: "";
  position: relative;
  top: -10px;
  right: -5px;
}
.sort.asc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  content: "";
  position: relative;
  top: 4px;
  right: -5px;
}
.sort.desc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  content: "";
  position: relative;
  top: -4px;
  right: -5px;
}
